// Typography Optimization
html {
     -webkit-text-size-adjust: auto;
     text-rendering: optimizeLegibility !important;
     -webkit-font-smoothing: antialiased !important;
     -moz-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern=1";
     -ms-font-feature-settings: "kern";
     -o-font-feature-settings: "kern";
     -webkit-font-feature-settings: "kern";
     font-feature-settings: "kern";   
}

// Typography | Calling self-hosted fonts

@font-face {
    font-family: Graphik;
    font-weight: normal;
    src: url(../../fonts/Graphik-Regularttf);
}

@font-face {
    font-family: GraphikLight;
    font-weight: lighter;
    src: url(../../fonts/Graphik-Light.ttf);
}


@font-face {
    font-family: GraphikMedium;
    font-weight: 500;
    src: url(../../fonts/Graphik-Medium.ttf);
}

@import  "copy";
@import  "headings";
@import  "links";
