

// Typography Optimization
html {
     -webkit-text-size-adjust: auto;
     text-rendering: optimizeLegibility !important;
     -webkit-font-smoothing: antialiased !important;
     -moz-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern=1";
     -ms-font-feature-settings: "kern";
     -o-font-feature-settings: "kern";
     -webkit-font-feature-settings: "kern";
     font-feature-settings: "kern";   
}

// Typography | Calling self-hosted fonts

@import  "copy";
@import  "headings";
@import  "links";
