// Typography Optimization
html {
     -webkit-text-size-adjust: auto;
     text-rendering: optimizeLegibility !important;
     -webkit-font-smoothing: antialiased !important;
     -moz-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern=1";
     -ms-font-feature-settings: "kern";
     -o-font-feature-settings: "kern";
     -webkit-font-feature-settings: "kern";
     font-feature-settings: "kern";   
}

// Typography | Calling self-hosted fonts

@font-face {
    font-family: SFMedium;
    src: url(../../fonts/SFMedium.ttf);
}

@font-face {
    font-family: SFRegular;
    font-family: normal;
    src: url(../../fonts/SFRegular.ttf);
}

@font-face {
    font-family: SourceSerifPro;
    font-weight: normal;
    src: url(../../fonts/sourceserifproregular.ttf);
}

@font-face {
    font-family: SourceSerifPro;
    font-weight: bold;
    src: url(../../fonts/sourceserifprosemibold.ttf);
}

@font-face {
    font-family: MaisonNeue;
    font-weight: bold;
    src: url(../../fonts/maisonneuedemi.ttf);
}

@import  "copy";
@import  "headings";
@import  "links";
