<section class="subscribe">
    <div class="row center-xs">
        <div class="col-xs-12 col-md-8 col-sm-8 col-lg-10">
            <!-- Begin MailChimp Signup Form -->
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
            <div id="mc_embed_signup">
                <div class="wrapper">
                    <form action="//justinfarrugia.us12.list-manage.com/subscribe/post?u=eb5d1bf658acdb72fef228d58&amp;id=ce5443d7fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h3><label for="mce-EMAIL">Want to hear more from me? Be sure to subscribe.</label></h3>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Your Full Name" required>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_eb5d1bf658acdb72fef228d58_ce5443d7fd" tabindex="-1" value="">
                            </div>
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                               
                        </div>
                    </form>
                </div> 
            </div>
            <!--End mc_embed_signup-->
            <span class="caption">I don’t send spam. Ever. Rest assured.</span>
        </div>
    </div>
</section>
<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="row center-xs">
                <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
                    <span class="description">You can reach me via email at <a href="mailto:justinmfarrugia@gmail.com">justinmfarrugia@gmail.com</a> <br>or be a hip millennial and tweet me at <a href="https://twitter.com/justinmfarrugia">@justinmfarrugia</a></span>
                </div>
            </div>
            <!--             <a class="center email" href="mailto:justinmfarrugia@gmail.com">justinmfarrugia@gmail.com</a> -->
            <ul class="socialicons">
                <li><a href="https://twitter.com/justinmfarrugia"><i class="fa fa-twitter" ></i></a></li>
                <li><a href="https://medium.com/@JustinFarrugia"><i class="fa fa-medium" ></i></a></li>
                <li><a href="https://dribbble.com/justinfarrugia"><i class="fa fa-dribbble" ></i></a></li>
                <li><a href="https://github.com/justinfar"><i class="fa fa-github" ></i></a></li>
            </ul>
        </div>
        <div class="row center-xs">
            <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
                <span class="description">&copy; <script type="text/javascript"> document.write(new Date().getFullYear());</script> Justin Farrugia</span>
            </div>
        </div>
        <a href="/"><img src="../img/footer.svg" class="footericon" alt="Footer Illustration"></a>
    </div>
</footer>

