<footer>
    <div class="container">
        <div class="twelve columns">
            <div class="footerlogo"><a href="{{ site.baseurl }}/"><img src="../img/Page 1.svg" alt="footer_logo"></a></div>
            <a href="https://twitter.com/justinmfarrugia" id="twitter">@justinmfarrugia</a>
            <ul class="socialicons">
            <li><a href="https://twitter.com/justinmfarrugia"><i class="fa fa-twitter" ></i></a></li>
            <li><a href="https://medium.com/@JustinFarrugia"><i class="fa fa-medium" ></i></a></li>
            <li><a href="https://dribbble.com/justinfarrugia"><i class="fa fa-dribbble" ></i></a></li>
            <li><a href="https://github.com/justinmarkfarrugia"><i class="fa fa-github" ></i></a></li>
            <li><a href="mailto:justinmfarrugia@gmail.com"><i class="fa fa-envelope" ></i></a></li>
        </ul>
        </div>
        
    </div>
</footer>

