<header class="site-header">
    <div class="wrapper">
        <nav class="site-nav row" {% if page.url=="/" %} style="border-bottom: none;"{% endif %}>
            <div class="col-xs-6 start-xs">
                <a href="{{ site.baseurl }}/" {% if page.url=="/" %} class="hidden" {% elsif post.layout == post %} class="backhome white" {% else %} class="backhome" {% endif %}> Back to Work</a>
            </div>
            <div class="col-xs-6 end-xs hidden-sm-down hidden-sm">
                <a href="#" class="menu-icon end-lg end-sm">
                    <a href="https://twitter.com/justinmfarrugia" class="twitter_nav" {% if post.layout == post %} style="color: white;" {% elsif post.description contains "Dad" %} style="color:{{ post.title--color }}" {% endif %}>@justinmfarrugia</a>
                </a>
            </div>
        </nav>
    </div>
</header>

