<!-- Capture and store a URL -->
<header>

    <div class="container">

            <a href="{{ site.baseurl }}/" {% if page.url == "/index.html" %} style="display:none;" {% else %} 
            class="backhome" {% endif %}> 
               back home
            </a>
            
            <nav>

                <ul>

                    <li>
                        <a href="../about.html" {% if page.url == "/index.html" %} class="hover" {% elsif page.url == "/about.html" %} style="color:#22D5D1 !important;" {% else page.url == post in site,categories.work %} class="inactive" 
 {% endif %}>about</a>
                    </li>

                    <li>
                        <a href="/" {% if page.url == "/index.html" %} class="active" {% elsif page.url == "/about.html" %} class="hover" {% endif %} {% for post in site.categories.work %} class="inactive" 
 {% endfor %} > work</a>
                    </li>

                   <!--  <li>
                        <a href="../about.html" {% if page.url == "/about.html" %} class="hover" style="color: " {% endif %}>about</a>
                    </li>

                    <li>
                        <a href="/" {% if page.url == "/about.html" %} class="hover" {% endif %}>work</a>
                    </li> -->

                </ul>

            </nav>
    </div>
</header>

