<header class="site-header">
    <div class="wrapper">
        <nav class="site-nav row" {% if page.url=="/" %} style="border-bottom: none;"{% endif %}>

                <div class="col-xs-6 start-xs">
                    <a href="{{ site.baseurl }}/" style="color: $text-color;"> Back to Work</a>
                </div>

                <div class="col-xs-6 end-xs hidden-sm-down hidden-sm">
                    <a href="#" class="menu-icon end-lg end-sm">
                        <a href="https://twitter.com/justinmfarrugia" class="twitter_nav" style="color: $text-color;">@justinmfarrugia</a>
                    </a>
                </div>
                
        </nav>
    </div>
</header>

