// Main Colors
$text-color:       #393B42;
$background-color: white;
$brand-color:      #FEBB27;

// Alternatives
$grey-color: #969696;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark: darken($grey-color, 25%);
$secondary-grey: #F9F9F9;

// Post Specific
$context-bg: #F9F9F9;