// Font Families
$base-font-family: "Graphik", Georgia, serif;
$body-font-family: "Graphik", Georgia, serif;

$headings-font-family: "Graphik", Helvetica, sans-serif;
$captions-font-family: "Graphik", Helvetica, sans-serif;

// Weights
$normal: normal;
$bold: 600;
$medium: 500;

//Span
$span-font-family: "Graphik", Helvetica, sans-serif;

// Heading
$headings-size:    50px;
$heading-font-weight: 500;

// Base
$base-font-size:   1.35rem;
$base-font-weight: 400;

// Small
$small-font-size:  $base-font-size * 0.675;

// Spacing
$spacing-unit:     30px;

// Line Height
$base-line-height: 1.9;

// Captions
$captions-font-size: 12px;