@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700');


// Font Families
$base-font-family: 'Libre Franklin', Helvetica, sans-serif;
$body-font-family: 'Libre Franklin', Helvetica, sans-serif;
$headings-font-family: 'Libre Franklin', Helvetica, sans-serif;
$captions-font-family: 'Libre Franklin', Helvetica, sans-serif;


// Weights
$normal: 400;
$bold: 700;
$medium: 600;

//Span
$span-font-family: 'Libre Franklin', Helvetica, sans-serif;

// Heading
$headings-size:    50px;
$heading-font-weight: 500;

// Base
$base-font-size:   1.35rem;
$base-font-weight: 400;

// Small
$small-font-size:  $base-font-size * 0.675;

// Spacing
$spacing-unit:     30px;

// Line Height
$base-line-height: 1.9;

// Captions
$captions-font-size: 12px;