.site-footer {
    border-top: 1px solid #f3f3f3;
}

.footer-col-wrapper {
    margin: 1.5em 0;
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background: #F9F9F9;
    font-family: $headings-font-family;
    
    & span {
        &.description{
             a {
            border-bottom: 1px $text-color dotted;
            padding-bottom: 3px;
                }
        }
    }   
}

img.footericon {
    margin-bottom: -25px;
    min-width: 180px;
}

ul.socialicons {
    padding: 0px;
    text-align: center;
    margin-left: 0px;
    li {
        display: inline-block;
        padding: 0px 30px;
        font-size: 2em;
        margin: 1em auto auto 0;
        & a i:hover {
            color: $brand-color;
            transition: 0.2s;
        }
        @include media-query($on-palm) {       
            padding: 0px 20px;
        }
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}