img {
    max-width: 100%;
    vertical-align: middle;
    margin: 15px 0;
    border: 1px solid #E4E4E4;
    &.footericon {
        border: none;
    }
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

caption, p.description {
    font-size: $small-font-size * .8;
    text-align: center;
    font-weight: lighter;
    opacity: 1;
    font-family: $base-font-family;
    line-height: 1.3;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    color: $grey-color;
    @include media-query($on-palm) {
        width: 100%;
    }
}